// Main Sass File

.bg-black {
  background: #000000;
  color: #fff;
}

#social-profile{
  .fa:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}
#main-header {
  img {
    width: 100%;
    height: 100%;
  }

  .port-item {
    width: 25%;
    .fa {
      font-size: 2em;
    }
  }
  .port-item:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}

